build/

common/gtk-2.0/assets-dark/*.png
common/gtk-2.0/assets-dark/*@2.png
common/gtk-2.0/assets-light/*.png
common/gtk-2.0/assets-light/*@2.png

common/gtk-3.0/assets/*.png
common/gtk-3.0/assets/*@2.png
common/gtk-4.0/assets/*.png
common/gtk-4.0/assets/*@2.png